<div class="row header" ng-include="'/assets/partials/header.html'"></div>
<div style="height: 700px;">
    <p>About us</p>
    <p>About us</p>
    <p>About us</p>
    <p>About us</p>
    <p>About us</p>
    <p>About us</p>
    <p>About us</p>
    <p>About us</p>
    <p>About us</p>
    <p>About us</p>
</div>
<!--<div ng-controller="aboutViewController">-->
<!--<div style="" infinite-scroll="nextPage()" infinite-scroll-distance="3">-->
    <!--<div ng-repeat="item in items">-->
        <!--<p>{{item.title}}</p>-->
        <!--<p ng-repeat="content in contents">{{content}}</p>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->