<div ng-controller="headerController">
    <div class="col-md-2 logo">
        <h3>GaldraLand</h3>
    </div>
    <div class="col-md-10 main-menu">
        <ul class="pull-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                  feed <span class="badge">{{ feeds.length }}</span>
              </a>
              <ul class="dropdown-menu">
                  <li ng-show="feeds.length == 0" style="text-align: center;">
                      <h5>No feeds now.</h5>
                  </li>
                  <!--li ng-repeat="i in invites">
                      <h5>Your recived invite to "{{ i.team }}" team</h5>
                      <p>Role: {{ i.title }}</p>
                      <p ng-show="i.message">{{ i.message }}</p>
                      <div class="view">
                          <button class="btn btn-primary" ng-click="showInvite(i)">View</button>
                      </div>
                  </li-->
				  <li ng-repeat="i in feeds">
                      <div ng-show="i.category != 2">
                          <h5>{{i.alert}}</h5>
                          <p>Role: {{ i.title }}</p>
                          <p ng-show="i.message">{{ i.message }}</p>
                          <div class="view">
                              <button class="btn btn-primary" ng-click="showApply(i)" ng-show="i.category == 1">View</button>
                              <button class="btn btn-primary" ng-click="showInvite(i)" ng-show="i.category == 0">View</button>
                          </div>
                      </div>
                      <div ng-show="i.category == 2">
                          <h5>{{i.msg}}</h5>
                          <div class="view">
                              <button class="btn btn-primary" ng-click="showRecommendation(i)" ng-show="i.position=='master'">View {{i.slaveUserName}}</button>
                              <button class="btn btn-primary" ng-click="showRecommendation(i)" ng-show="i.position=='slave' && i.type=='teams'">View {{i.teamName}}</button>
                              <button class="btn btn-primary" ng-click="showRecommendation(i)" ng-show="i.position=='slave' && i.type=='adventures'">View {{i.adventureName}}</button>
                          </div>
                      </div>
                  </li>
              </ul>
            </li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/teams">teams</a></li>
            <li><a href="/users">users</a></li>
			<li><a href="/adventures">adventures</a></li>
			<li><a href="/adsearch">advanced search</a></li>
			<li><a href="/news">news</a></li>
            <li><a href="#" ng-click="logout()">logout</a></li>
        </ul>
    </div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({appId: '110469289012320',status: true,cookie: true,xfbml: true,version: 'v2.6'});
        };
        window.fbAsyncInit();
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s);
            js.id = id;
            js.src = '//connect.facebook.net/en_US/sdk.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        function FacebookInviteFriends1()
        {
            FB.ui({
                method: 'apprequests',
                message: 'Invite your friends to Galdraland'
            });
        }
    </script>
    <div id='fb-root'></div>
	<div class="col-md-12 search-menu darkblue">
		<ul class="pull-right">
            <li><a onclick="window.open('https://slack.com/oauth/authorize?scope=channels:history+channels:read+channels:write+chat:write:user&client_id={{slackClientID}}&redirect_uri=https://galdraland-1-0.herokuapp.com/api/slack/auth', '_blank', 'location=yes,height=570,width=520,scrollbars=yes,status=yes');"><img style="width: 150px; height: 35px;" src="https://api.slack.com/img/sign_in_with_slack.png" /></a></li>
            <li><a class="btn btn-success" href="#" onclick='FacebookInviteFriends1();'>Invite your friends</a></li>
            <li><a class="btn btn-success" href="/teams/create">Create a new team</a></li>
            <li><a class="btn btn-success" href="/adventures/create">Create a new Adventure</a></li>
            <li><select ng-model="scategory">
				<option value="a">Adventure</option>
				<option value="t">Team</option>
				<option value="p">People</option>
				</select></li>
            <li><input type="text" ng-model="stext" placeholder="search for"/></li>
            <li><a class="btn btn-success" href="#" ng-click="search()">Search</a></li>
        </ul>
	</div>
</div>