<!--div class="container login" ng-controller="indexController">
    <div class="row">
        <header>
            <h1>GaldraLand</h1>
        </header>
    </div>
    <div class="sign-in">
        <a href="/api/login/facebook{{(r)?'?r='+r:''}}" target="_self" class="link">Sign in</a>
    </div>
</div-->
<div class="container main ng-scope" ng-controller="indexController">
	<div class="row header ng-scope">
		<div class="col-md-2 logo">
			<h3>GaldraLand</h3>
		</div>
		<div class="col-md-10 main-menu login">
			<ul class="pull-right">
				<li>
					<a href="/api/login/facebook{{(r)?'?r='+r:''}}" target="_self" class="link">Sign in</a>
				</li>
			</ul>
		</div>
		<div class="col-md-12 search-menu darkblue">
		</div>
	</div>
	
	<div class="fullwidth hero">
	</div>

	<div id="wrapper" >
		<section id="adventures" class="row homepage"> 
			<div class="row"> 
				<h1> Featured Adventures </h1>
				<div class="col-md-3" ng-repeat="a in adventures" ng-class-odd="'featured-adventure-1'"  ng-class-even="'featured-adventure-2'">
                                    <!--
				   <label>{{ a.name }}</label>
                                    -->
                                    <label><a href="/api/login/facebook{{(r)?'?r='+r:''}}" target="_self" class="link">{{ a.name }}</a></label>
				</div> 
			</div>
		</section>
	</div> <!-- .wrapper -->
	<div class="fullwidth lightgray padbot5">
		<div id="wrapper" >	
			<section id="teams" class="homepage">
				<div class="row"> 
					<h1> Teams </h1>
					<div class="col-md-3" ng-repeat="t in teams" ng-class-odd="'featured-adventure-1'"  ng-class-even="'featured-adventure-2'">
					   <label>{{ t.name }}</label>
					</div> 
				</div>
			</section>
		</div> <!-- .wrapper -->
	</div> <!-- fullwidth -->
</div>