<div class="container main ng-scope" ng-controller="signinController">
	<div class="row header ng-scope">
		<div class="col-md-2 logo">
			<h3>GaldraLand</h3>
		</div>
		<div class="col-md-10 main-menu login">
			<ul class="pull-right">
				<li class="header-navigation">
                    <!--<a href="/api/login/facebook{{(r)?'?r='+r:''}}" target="_self" class="link" style="margin-right: 10px;">Sign in</a>-->
                    <a href="/api/login/facebook{{(r)?'?r='+r:''}}" target="_self" class="link" style="margin-right: 10px;">Sign in</a>
                    <a href="/" target="_self" style="margin-right: 10px;"> Home </a>
				</li>
			</ul>
		</div>
		<div class="col-md-12 search-menu darkblue">
		</div>
	</div>
    <div class="row header" style="background: #ffffff">
         <div class="login-social">
            <a href="#" class="button linkedin" title="Login with LinkedIn">
                <span><i class="fa fa-linkedin"></i></span>
            </a>
            <a href="#" class="button facebook" title="Login with Facebook">
                <span><i class="fa fa-facebook"></i></span>
            </a>
        </div>
    </div>
</div>