<div ng-controller="newsController">
	<div class="row">
		<div class="col-md-4" style="text-align: center;">
			<div class="row">
				Peoples
			</div>
			<div class="row">
				<br>
				<table class="table">
					<tr ng-show="!loading && peoples.length == 0">
						<td class="err-msg">No recent login peoples.</td>
					</tr>
					<tr ng-repeat="p in peoples">
						<td>{{ p.name }}</td>
						<td>SignIn: {{ p.signin }}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="col-md-4" style="text-align: center;">
			<div class="row">
				Teams
			</div>
			<div class="row">
				<br>
				<table class="table">
					<tr ng-show="!loading && teams.length == 0">
						<td class="err-msg">No teams created recently.</td>
					</tr>
					<tr ng-repeat="t in teams">
						<td>{{ t.name }}</td>
						<td>CreatedAt: {{ t.createdAt }}</td>
					</tr>
				</table>
			</div>				</div>
		<div class="col-md-4" style="text-align: center;">
			<div class="row">
				Adventures
			</div>
			<div class="row">
				<br>
				<table class="table">
					<tr ng-show="!loading && adventures.length == 0">
						<td class="err-msg">No adventures created recently.</td>
					</tr>
					<tr ng-repeat="a in adventures">
						<td>{{ a.name }}</td>
						<td>CreatedAt: {{ a.createdAt }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>