<div ng-controller="newsController">
    <div class="row">
        <div class="col-md-4" style="text-align: center;">
            <div class="row">
                Peoples
            </div>
            <div class="row">
                <br>
                <table class="table">
                    <tr ng-show="!loading && peoples.length == 0">
                        <td class="err-msg">No recent logins.</td>
                    </tr>
                    <tr ng-repeat="p in peoples">
                        <td>
                            <a href="/users/view/{{p._id}}">{{ p.name}}</a>
                            <small>SignIn: {{ p.signin}}</small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-4" style="text-align: center;">
            <div class="row">
                Teams
            </div>
            <div class="row">
                <br>
                <table class="table">
                    <tr ng-show="!loading && teams.length == 0">
                        <td class="err-msg">No teams created recently.</td>
                    </tr>
                    <tr ng-repeat="t in teams">
                        <td>
                            <a href="/teams/view/{{t._id}}">{{ t.name}}</a>
                            <small>Created: {{ t.createdAt}}</small>
                        </td>
                    </tr>
                </table>
            </div>				</div>
        <div class="col-md-4" style="text-align: center;">
            <div class="row">
                Adventures
            </div>
            <div class="row">
                <br>
                <table class="table">
                    <tr ng-show="!loading && adventures.length == 0">
                        <td class="err-msg">No adventures created recently.</td>
                    </tr>
                    <tr ng-repeat="a in adventures">
                        <td>
                            <a href="/adventures/view/{{a._id}}">{{ a.name}}</a>
                            <small>Created: {{ a.createdAt}}</small>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>