<div ng-controller="profileLeftSideController" class="profile-left-side">
    <div class="avatar" style="background-image: url('{{ user.photo }}')"></div>
    <ul class="nav nav-tabs" style="padding: 0px;">
        <li class="active" style="margin-bottom: 0px; padding: 1px 2px;">
            <a href="#tab_1" data-toggle="tab" aria-expanded="true" style="margin: 0; padding: 5px 5px;">Home</a>
        </li>
        <li style="margin-bottom: 0px; padding: 1px 2px;">
            <a href="#tab_2" data-toggle="tab" aria-expanded="false" style="margin: 0; padding: 5px 5px;">Recommendations</a>
        </li>
    </ul>
    <div class="tab-content" style="margin-top: 5px;">
        <div class="tab-pane fade active in" id="tab_1">
            <uib-accordion close-others="false">
            <div uib-accordion-group class="panel-default" is-open="true">
                <uib-accordion-heading>
                <p style="margin-top : 7px;">Teams</p>
                </uib-accordion-heading>
                <small ng-show="teams.length == 0">No teams, <a href="/teams">search</a> or <a href="/teams/create">add</a> new team now.</small>
                <ul ng-show = "teams.length > 0">
                    <li ng-repeat = "t in teams"><a href="/teams/view/{{ t._id }}">{{ t.tName }}</a></li>
                </ul>
            </div>
            <div uib-accordion-group class="panel-default" is-open="true">
                <uib-accordion-heading>
                <p style="margin-top : 7px;">Adventures</p>
                </uib-accordion-heading>
                <small ng-show="adventures.length == 0">No adventures, <a href="/adventures">search</a> or <a href="/adventures/create">add</a> new adventure now.</small>
                <ul ng-show = "adventures.length > 0">
                    <li ng-repeat = "a in adventures"><a href="/adventures/view/{{ a._id }}">{{ a.name }}</a></li>
                </ul>
            </div>
            </uib-accordion>
        </div>
        <div class="tab-pane fade" id="tab_2">
            <!--<hr ng-show="recomendation.length > 0">-->
            <!--<p ng-show="recomendation.length > 0">Complete your profile</p>-->
            <!--<ul ng-show="recomendation.length > 0">-->
            <!--<li ng-repeat="r in recomendation">{{ r }}</li>-->
            <uib-accordion close-others="false">
                <div uib-accordion-group class="panel-default" is-open="true">
                    <uib-accordion-heading>
                        <p style="margin-top : 7px;">Teams</p>
                    </uib-accordion-heading>
                    <small ng-show="rteams.length == 0">No recommendation teams</small>
                    <ul ng-show = "rteams.length > 0">
                        <li ng-repeat = "t in rteams"><a href="/teams/view/{{ t.teamId }}">{{ t.teamName }}({{t.roleTitle}}) - {{t.recommendationUserName}}</a></li>
                    </ul>
                </div>
                <div uib-accordion-group class="panel-default" is-open="true">
                    <uib-accordion-heading>
                        <p style="margin-top : 7px;">Adventures</p>
                    </uib-accordion-heading>
                    <small ng-show="radventures.length == 0">No recommendation adventures</small>
                    <ul ng-show = "radventures.length > 0">
                        <li ng-repeat = "a in radventures"><a href="/adventures/view/{{ a.adventureId }}">{{ a.adventureName }}  - {{a.recommendationUserName}}</a></li>
                    </ul>
                </div>
                <div uib-accordion-group class="panel-default" is-open="true">
                    <uib-accordion-heading>
                        <p style="margin-top : 7px;">Users</p>
                    </uib-accordion-heading>
                    <small ng-show="rusers.length == 0">No recommendation users</small>
                    <ul ng-show = "rusers.length > 0">
                        <li ng-repeat = "u in rusers"><a href="/users/view/{{ u.id }}">{{ u.name }}</a></li>
                    </ul>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>