.row {
    margin-right: 0px;
    margin-left: 0px;
}
#wrapper {
    margin-left: auto;
	margin-right: auto;
    width: 70%;
}
.homepage h1 {font-family: Roboto; font-size:22px;}
.container, .container-fluid {
   padding-right: 0;
   padding-left: 0;
}
.row.header.ng-scope, .fullwidth {
    width: 100%;
}
.hero {
	background:url('../images/bg01.jpg') no-repeat;
	height: 572px;
	margin-bottom:5%;
	background-size: cover;
}
.featured-adventure-1 {
	min-height: 180px;
	background:#eee;
}
.featured-adventure-2 {
	min-height: 180px;
	background:#384D62;
}
label {
	font-weight: 300;
    color: #fff;
    font-size: 18px;
}
.padtop {padding-top: 1%;}
.padbot {padding-bottom:1%;}
.padbot5 {padding-bottom:5%;}
.padbot10 {padding-bottom:10%;}
.lightgray {background: #efefef;}
#teams {margin-top:5%; padding-top:4%;}

footer {
	width: 100%;
	padding:2%;
	color: #fff;
	background: #384D62;
	overflow: auto;
    margin-top: 10px;
}
footer h2 {
	font-size: 15px;
    text-transform: uppercase;
}
footer ul {
	padding-left:0;
}
footer ul li a {
	color: #fff;
	font-size: 13px;
    font-weight: 700;
}

#copyright {
	font-size:15px;
	text-align:center;
	position: relative;
    /*top: 50px;*/
  margin-top: 0px;
}
@media (min-width: 1200px) {
	.container {width: 100%;}
}

.container {
	width: 100% !important;
}
.img-responsive{
	width:100%;
	height:180px;
}
.btn-same-size{
	width: 65px;
	padding-left: 5px;
	padding-right: 5px;
}
.bold{
	font-weight: bold;
	color: black;
}

.MD_fb_invite {
}
.MD_fb_invite a{
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif !important;
    font-weight:bold !important;
    font-size:12px !important;
    width:150px !important;
    border:solid #3b6e22 1px !important;
    border-bottom:solid #2c5115 1px !important;
    cursor:pointer !important;
    padding:6px 6px 6px 6px !important;
    background-color:#68a64c !important;
    border-top:solid #98c286 1px !important;
    text-align:center !important;
    color:#fff !important;
    text-decoration:none  ! important;
}

.MD_fb_invite a:active{
    background-color:#609946 !important;
}

.tag {
    display: inline-block;
    border-radius: 5px;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    padding: 2px 5px 2px 5px;
    margin-right: 5px;
}

.badges {
    float : left;
    margin-left: 5px;
    margin-bottom: 3px;
}
.badges a {
    background: #fff;
    padding: 2px;
    border: 2px solid #fff;
    margin: 1px;
    display: block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;;
}
.badges a:hover {
    border-color: #f0ced0;
}

div.login-social {
    position: relative;
    text-align: center;
    width: 100%;
}

div.login-social .button {
    color: #fff;
    margin: 0 5px 0 0;
    padding: 0 15px;
    float: left;
    height: 100px;
    font-size: 78px;
    line-height: 100px;
    width : 100px;
    text-align: center;
    cursor: pointer;
    border: 1px solid;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
    border-radius: 3px;
    transition: box-shadow 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

div.login-social .button:hover {
    border: 2px solid;
    font-size: 80px;
}

div.login-social .button.linkedin {
    border-color: #2a80c3 #2a80c3 #0060b1;
    background-color: #519bd4;
    background: -webkit-linear-gradient(top, #519bd4 0, #046fc1 100%);
}

div.login-social .button.facebook {
    border-color: #4b5c86 #4b5c86 #1a3e99;
    background-color: #6678a6;
    background: -webkit-linear-gradient(top, #6678a6 0, #374f8a 100%);
}

div.login-social .button.slack {
    border-color: #2f96b4 #2f96b4 #1f6377;
    background-color: #45abc9;
    background: -webkit-linear-gradient(top, #5abfdd 0, #2f96b4 100%);
}

div.login-social .button.pinterest {
    border-color: #d1610f #d1610f #ac581a;
    background-color: #f47a20;
    background: -webkit-linear-gradient(top, #f47a20 0, #818185 100%);
}

div.login-social .button.instagram {
    border-color: #d1610f #d1610f #ac581a;
    background-color: #f47a20;
    background: -webkit-linear-gradient(top, #f47a20 0, #818185 100%);
}

div.login-social .button.instagram {
    border-color: #303030 #303030 #282828;
    background-color: #363636;
    background: -webkit-linear-gradient(top, #363636 0, #151515 100%);
}

div.login-social .button.disable {
    border-color: #EEEEEE #EEEEEE #EEEEEE !important;
    background-color: #EEEEEE !important;
    background: -webkit-linear-gradient(top, #EEEEEE 0, #EEEEEE 100%) !important;
    color: #b3b3b3 !important;
}