<div ng-controller="adventureViewController" class="adventureMembers">
    <div class="row">
        <div style="margin-top:5px;">
            <div class="col-md-4" style="color:#cfcfcf; padding: 0px;">Galdra Adventure</div>
            <div class="col-md-8" >
                <a href="/users/view/{{adventure.owner}}">
                    <img src="{{photo}}" alt="image" style="width:100px; height:100px; border-radius: 30px; cursor: pointer;">
                </a>
            </div>
            <div class="col-md-4" style="padding: 0px;">
                <h2 ng-bind="adventure.name" style="color:#394b59; margin-top:0px;font-size:25px; font-weight:700;"></h2>
            </div>
            <div class="col-md-8" style="padding: 0px;">
                <div id="fbshare">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin-top:0px;">
            <div class="col-md-4" style="padding-left: 0px; padding-right: 10px;">
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.image">PHOTO</h2>
                <div style="margin-top:5px;" ng-show="adventure.image">
                    <img src="{{adventure.image}}" alt="image" ng-show="adventure.image" style="margin-bottom: 10px; margin-top: 10px; width:396px; height:297px;">
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.description">DESCRIPTION</h2>
                <div style="margin-top:5px;" ng-show="adventure.description" class="members-list">
                    <p class="description" style="margin-left:5px; text-align:left; padding: 10px 5px 10px 5px; word-wrap: break-word; word-break: break-word; font-size: 15px; border: 1px solid #ddd;" ng-bind-html="adventure.description"></p>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.link">LINK</h2>
                <div style="margin-top:5px;" ng-show="adventure.link" class="members-list">
                    <a style="font-size:14px; margin-left:5px; color:#1ab8f3; font-weight: bold;" href="{{adventure.link}}" class="name">{{adventure.link}}</a>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.team">TEAM</h2>
                <div style="margin-top:5px;" ng-show="adventure.team" class="members-list">
                    <a style="font-size:14px; margin-left:5px; color:#1ab8f3; font-weight: bold;" href="/teams/view/{{adventure.team._id}}" class="name">{{adventure.team.name}}</a>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.team">TIMELINE</h2>
                <div style="margin-top:5px;" ng-show="adventure.team" class="members-list">
                    <p class="name bold" style="margin:0px; margin-left:5px; font-size:14px; color:#cfcfcf;">{{adventure.start + " - " + adventure.end}}</p>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.tags.length > 0">MORE TAGS</h2>
                <div style="margin-top:5px;" ng-show="adventure.tags.length > 0" class="members-list">
                    <div style="margin-top:0px; margin-left:5px;" ng-repeat="t in adventure.tags">
                        <a style="font-size:14px; color:#1ab8f3; font-weight: bold;" ng-show="t" href="/adventuresTag/{{t}}" class="name">{{t}}</a>
                    </div>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.status">STATUS</h2>
                <div style="margin-top:5px;" ng-show="adventure.status" class="members-list">
                    <p class="name bold" style="margin:0px; margin-left:5px; font-size:14px; color:#cfcfcf;">{{adventure.status}}</p>
                </div>
            </div>
            <div class="col-md-4" style="padding-left: 0px; padding-right: 10px;">
                <h2 style="color:#cfcfcf; margin-top:0px;font-size:18px; font-weight:700;">Comments</h2>
                <div id="fbComment" style="margin-top:5px; text-align: center;">
                </div>
                <h2 style="color:#cfcfcf; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.fb_page">FB Page</h2>
                <div ng-show="adventure.fb_page" id = "fbPage" style="text-align: center; margin-bottom: 10px;">
                </div>
            </div>
            <div class="col-md-4" style="padding-right: 0px;">
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;">RATINGS</h2>
                <div style="text-align: center; margin-top : 20px; padding-right: 10px; padding-left: 10px;">
                    <rating-widget ref="adventure._id" ></rating-widget>
                    <hr>
                    <div ng-show="isManager" class="btn-group btn-group-justified">
                        <a href="/adventures/edit/{{ adventure._id}}" class="btn btn-primary">Edit</a>
                        <a href="#" ng-click="modal()" class="btn btn-danger">Remove</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>