<div ng-controller="adventureViewController" class="adventureMembers">
    <div class="row">
        <div style="margin-top:5px;">
            <div class="col-md-5"></div>
            <div class="col-md-2" >
                <a href="/users/view/{{adventure.owner}}" style="text-align:center;">
                    <img src="{{photo}}" alt="image" style="width:100px; height:100px; border-radius: 30px; cursor: pointer;">
                </a>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="padding: 0px;">
            <h2 style="color:#394b59; margin-top:0px;font-size:25px; font-weight:700;">
                {{adventure.name}} - <a style="font-size:22px; margin-left:5px; color:#1ab8f3; font-weight: bold;" href="/adventuresType/{{adventure.type}}" class="name">{{adventure.type}}</a>
            </h2>
        </div>
        <div class="col-md-4" style="padding: 0px;">
            <div id="fbshare">
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px;">
            <button ng-show="!isManager" class="btn btn-primary pull-left" ng-click="sendRecommendation()" style="margin-left: 15px; padding-bottom: 1%;">Recommendation</button>
        </div>
    </div>
    <div class="row">
        <div style="margin-top:0px;">
            <div class="col-md-4" style="padding-left: 0px; padding-right: 10px;">
                <div style="margin-top:5px;" ng-show="adventure.image">
                    <img src="{{adventure.image}}" alt="image" ng-show="adventure.image" style="margin-bottom: 10px; margin-top: 10px; width:396px; height:297px;">
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.description">DESCRIPTION</h2>
                <div style="margin-top:5px;" ng-show="adventure.description" class="members-list">
                    <p class="description" style="margin-left:5px; text-align:left; padding: 10px 5px 10px 5px; word-wrap: break-word; word-break: break-word; font-size: 18px; border: 1px solid #ddd;" ng-bind-html="adventure.description"></p>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.link">LINK</h2>
                <div style="margin-top:5px;" ng-show="adventure.link" class="members-list">
                    <a style="font-size:22px; margin-left:5px; color:#1ab8f3; font-weight: bold;" href="{{adventure.link}}" class="name">{{adventure.link}}</a>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.team">TEAM</h2>
                <div style="margin-top:5px;" ng-show="adventure.team" class="members-list">
                    <a style="font-size:22px; margin-left:5px; color:#1ab8f3; font-weight: bold;" href="/teams/view/{{adventure.team._id}}" class="name">{{adventure.team.name}}</a>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.team">TIMELINE</h2>
                <div style="text-align: center;">
                <strong>{{monthName(date)}} {{date|date:'yyyy'}}</strong>
                <br />
                </div>
                <!--<br />-->
                <div id="simpeCalendar">
				<simple-calendar date="date" events="events"></simple-calendar>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.tags.length > 0">TAGS</h2>
                <div style="margin-top:5px;" ng-show="adventure.tags.length > 0" class="members-list">
                    <span style="margin-top:0px; margin-left:5px;" ng-repeat="t in adventure.tags">
                        <a ng-show="t" href="/adventuresTag/{{t}}" class="tag">{{t}}</a>
                    </span>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.status">STATUS</h2>
                <div style="margin-top:5px;" ng-show="adventure.status" class="members-list">
                    <p class="name" style="margin:0px; margin-left:5px; font-size:20px;">{{adventure.status}}</p>
                </div>
            </div>
            <div class="col-md-4" style="padding-left: 0px; padding-right: 10px;">
                <h2 style="color:#394b59; margin-top:0px;font-size:18px; font-weight:700;">Comments</h2>
                <div id="fbComment" style="margin-top:5px; text-align: center;">
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="adventure.fb_page">FB Page</h2>
                <div ng-show="adventure.fb_page" id = "fbPage" style="text-align: center; margin-bottom: 10px;">
                </div>
            </div>
            <div class="col-md-4" style="padding-right: 0px;">
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;">RATINGS</h2>
                <div style="text-align: center; margin-top : 20px; padding-right: 10px; padding-left: 10px;">
                    <rating-widget ref="adventure._id" ></rating-widget>
                    <hr>
                    <div ng-show="isManager" class="btn-group btn-group-justified">
                        <a href="/adventures/edit/{{ adventure._id}}" class="btn btn-primary">Edit</a>
                        <a href="#" ng-click="modal()" class="btn btn-danger">Remove</a>
                        <a href="/adventures/blogcreate/{{ adventure._id}}" class="btn btn-primary">Blog</a>
                    </div>
                    <div ng-show="!isManager" class="btn-group btn-group-justified">
                        <button class="btn btn-primary pull-left" ng-click="addFavoriteAdventure()" style="padding-bottom: 1%;">Add to favorites</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div ng-show="adventureblogs.length" class="clearfix" style="border: 1px solid #CCCCCC; margin-top: 30px;"></div>
    <div class="row">
        <div class="col-md-12" ng-show="adventureblogs.length" style="padding-right: 0px;">
            <h2 style="color:#394b59; margin-top:35px;font-size:18px; font-weight:700;"><center>BLOG</center></h2>
            <br>
            <table class="table adventures">
                <tr ng-repeat="blog in adventureblogs">
                    <td width="40%">{{ blog.title}}</td>
                    <td width="10%"><span ng-show="blog.image"><img src="{{blog.image}}" alt="image" ng-show="blog.image" style="margin-bottom: 10px; margin-top: 10px; width:40px; height:40px;"></span></td>
                    <td width="20%">{{ blog.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td width="30%">
                        <a href="/adventures/blogview/{{ adventure._id }}/{{ blog._id}}" class="btn btn-same-size btn-primary">View</a>
                        <a ng-show="isManager" href="#" ng-click="removeblog(blog._id, blog.title);" class="btn btn-same-size btn-danger">Remove</a>
                        <a ng-show="isManager" href="/adventures/blogedit/{{ adventure._id }}/{{ blog._id}}" class="btn btn-same-size btn-primary">Edit</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>