<div ng-controller="adventureViewController" class="adventureMembers">
    <div class="row">
        <div class="col-md-3 user-container">
            <h4 ng-bind="adventure.name"></h4>
            <!--<p class="description" style="font-size: 13px;" ng-bind="adventure.description"></p>-->
            <!--<textarea style="font-size: 13px; overflow: visible;" ng-bind="adventure.description" disabled></textarea>-->
            <p ng-show="adventure.description" class="description" style="text-align:left; padding: 10px 5px 10px 5px;  word-wrap: break-word; word-break: break-word; font-size: 15px; border: 1px solid #ddd;" ng-bind-html="adventure.description"></p>
            <td><rating-widget ref="adventure._id" ></rating-widget></td>
            <hr>
            <div ng-show="isManager" class="btn-group btn-group-justified">
                <a href="/adventures/edit/{{ adventure._id}}" class="btn btn-primary">Edit</a>
                <a href="#" ng-click="modal()" class="btn btn-danger">Remove</a>
                <a href="#" ng-click="shareAdventure('{{ adventure._id }}')" class="btn btn-success">Share</a>
            </div>
        </div>
        <div class="col-md-8" ng-show="!loading && adventure">
            <ul class="members-list">
                <!--<li>-->
                    <!--<p>Description</p>-->
                    <!--<p class="name">{{adventure.description}}</p>-->
                <!--</li>-->
                <li>
                    <p class="name">GaldraAdventure - {{adventure.type}}</p>
                </li>
                <li>
                    <img src="{{adventure.image}}" alt="image" ng-show="adventure.image" style="width:396px; height:297px;">
                </li>
                <li>
                    <p>Link</p>
                    <a class="name" href="{{adventure.link}}">{{adventure.link}}</a>
                </li>
                <li>
                    <p>Team</p>
                    <a href="/teams/view/{{adventure.team._id}}" class="name">{{adventure.team.name}}</a>
                </li>
                <li>
                    <p>Timeline</p>
                    <p class="name">{{adventure.start + " - " + adventure.end}}</p>
                </li>
                <li>
                    <!--<p>Tags</p>-->
                    <!--<p class="name">{{adventure.tags.join(" ")}}</p>-->
                    <p>Tags</p>
                    <span ng-repeat="t in adventure.tags" >
                        <a href="/adventuresTag/{{t}}" class="name">{{t}}</a>
                    </span>
                </li>
                <li>
                    <p>Status</p>
                    <p class="name">{{adventure.status}}</p>
                </li>
                <div ng-show="adventure.fb_page" id = "fbPage">
                </div>
            </ul>
        </div>

    </div>

    <!--<div id="fb-root"></div>-->
    <!--<script>-->
        <!--(function (d, s, id) {-->
            <!--var js, fjs = d.getElementsByTagName(s)[0];-->
            <!--if (d.getElementById(id)) {-->
                <!--return;-->
            <!--}-->
            <!--js = d.createElement(s);-->
            <!--js.id = id;-->
            <!--js.src = "//connect.facebook.net/en_US/sdk.js";-->
            <!--fjs.parentNode.insertBefore(js, fjs);-->
        <!--}(document, 'script', 'facebook-jssdk'));-->
    <!--</script>-->
    <!--<div class="fb-comments" data-href="http://webascender.com/blog" data-numposts="5" data-colorscheme="light"></div>-->

    <!--<comment-widget ref="adventure._id" ismanager="isManager"></comment-widget>-->
</div>