<div class="modal-header">
    <h4>Add member title</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <input class="form-control" type="text" ng-model="values.titles" placeholder="Provide a member title">
        <input class="form-control" type="text" ng-model="values.skills" placeholder="Skills">
        <input class="form-control" type="text" ng-model="values.description" placeholder="Description">
        <input class="form-control" type="text" ng-model="values.whatisthere" placeholder="What is there for you">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!values.titles" ng-click="create()">Create</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>