<div class="modal-header">
    <h4>Apply for this team</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <select class="form-control" ng-model="values.title">
            <option value="0">Your desired title</option>
            <option ng-repeat="member in values.emptyMembers" value="{{ member._id}}">{{ member.title}}</option>
        </select>
    </div>
    <div class="form-group">
        <textarea class="form-control" ng-model="values.msg" placeholder="Message to team owner"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!values.title || values.title == 0 || !values.roles" ng-click="send()">Send</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>