<div class="modal-header">
    <h4>Send Recommendation</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <ul class="unstyled invites">
            <li>
                <h5>Recommendations: </h5>
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="values.newMember" placeholder="Email, username" ng-change="findUser(values.newMember)">
                        <ul class="dropdown-menu users-list" ng-show="values.users.length > 0">
                            <li ng-repeat="user in values.users"><a href="#" ng-click="addAdvRecommendation(user)">{{ user.username}}</a></li>
                        </ul>
                    </div>
                </form>
            </li>
            <h5>Recommendated: </h5>
            <li ng-repeat="i in values.recommendates">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <div>{{i.user}}</div>
                    </div>
                    <button type="submit" class="btn btn-danger" ng-click="removeAdvRecommendation($index)">-</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="values.recommendates.length <= 0" ng-click="send()">Send</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
<style type="text/css">
    select.unselected{
        border-color: rgb(255, 0 ,0);
    }
</style>