<div class="modal-header">
    <h4>Apply My Team to This Adventure</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="col-md-4">
            <h5>Select Your Team: </h5>
        </div>
        <div class="col-md-8">
            <select class="form-control" ng-model="selTeam" ng-class="{unselected: selTeam === '0'}">
                <option value="0" selected>Select Team</option>
                <option ng-repeat="team in values.teams" value="{{ team._id}}">{{ team.name}}</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="selTeam == 0" ng-click="send()">Send</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
<style type="text/css">
    select.unselected{
        border-color: rgb(255, 0 ,0);
    }
</style>