<div class="modal-header">
    <h4>Invitation to join "{{ invite.team.name}}" as {{invite.title}}</h4>
</div>
<div class="modal-body">
    <table class="table" ng-hide="invite.accepted || invite.declined">
        <tr>
            <td style="border-top: none;">From: </td>
            <td style="border-top: none;">{{ invite.fromName}}</td>
        </tr>
        <tr>
            <td>Team: </td>
            <td><a href="#">{{ invite.team.name}}</a></td>
        </tr>
        <tr>
            <td>Title: </td>
            <td>{{ invite.title}}</td>
        </tr>
        <tr ng-show="invite.roles.length > 0">
            <td>Roles: </td>
            <td>{{ invite.roles.join(" ,")}}</td>
        </tr>
        <tr ng-show="invite.message">
            <td>Message: </td>
            <td class="msg">{{ invite.message}}</td>
        </tr>
    </table>
    <h5 ng-show="invite.accepted">{{invite.to}} has accepted your invitation.</h5>
    <h5 ng-show="invite.declined">{{invite.to}} has declined your invitation.</h5>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="accept()" ng-hide="invite.accepted || invite.declined">Accept</button>
    <button class="btn btn-warning" ng-click="decline()" ng-hide="invite.accepted || invite.declined">Decline</button>
    <!--button class="btn btn-primary" ng-click="publish()" ng-show="invite.accepted">Publish To FB</button-->
    <button class="btn btn-warning" ng-click="close()" ng-show="invite.accepted || invite.declined">Close</button>
</div>