<div class="view-user" ng-controller="userViewController">
    <div style="width: 100%">
        <ul>
            <li>
                <img src="{{photo}}" style="width: 76px; height: 76px;"/>
            </li>
            <li ng-repeat="b in badgesData" class="badges">
                <a href="{{ b.href }}" title="{{ b.title }}"> <img src="{{b.badgeImg}}" style="width: 76px; height: 76px;"/></a>
            </li>
        </ul>
        <!--<ul>-->
            <!--<div ng-show="badgesData.length > 0" style="height: 80px; float: right;">-->
            <!--<li ng-repeat="b in badgesData" class="badges">-->
                <!--<a href="{{ b.href }}" title="{{ b.title }}"> <img src="{{b.badgeImg}}" style="width: 76px; height: 76px;"/></a>-->
            <!--</li>-->
            <!--</div>-->
        <!--</ul>-->
        <!--<div class="avatar" style="background-image: url('{{ photo}}')"></div>-->
        <!--<div ng-show="badgesData.length > 0" style="height: 80px; float: right;">-->
            <!--<span ng-repeat="b in badgesData" class="badges">-->
                <!--<a href="{{ b.href }}" title="{{ b.title }}"> <img src="{{b.badgeImg}}" style="width: 76px; height: 76px;"/></a>-->
            <!--</span>-->
        <!--</div>-->
    </div>
    <div>
    <h1>{{ fullname}}
        <button ng-show="!isManager && isFavorite" class="btn btn-danger" ng-click="removeFavoriteUser()" style="margin-left: 15px; padding-bottom: 1%;">Remove from favorites</button>
        <button ng-show="!isManager && !isFavorite" class="btn btn-primary" ng-click="addFavoriteUser()" style="margin-left: 15px; padding-bottom: 1%;">Add to favorites</button>
    </h1>
    <blockquote>
    <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
        <p>Main information</p>
        </uib-accordion-heading>
        <div class="form-group">
            <small>User Name : {{ username}}</small>
        </div>
        <div class="form-group">
            <small>eMail Address : {{ email}}</small>
        </div>
        <div class="form-group">
            <small>Location : {{ location}}</small>
        </div>
        <div class="form-group">
            <small>Skype : {{ skype}}</small>
        </div>
        <div class="form-group">
            <small>Categories : {{ categories}}</small>
        </div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
        <p>Teams</p>
        </uib-accordion-heading>
        <small ng-show="teams.length == 0">No teams</small> 
        <ul ng-show="teams.length > 0"> 
            <li ng-repeat="t in teams"><a href="/teams/view/{{ t._id}}">{{ t.name}}<span ng-repeat="member in t.teamMembers"> <span ng-show="member.user == searchUserId"> ( {{ member.title }} )</span></span></a></li>
        </ul>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
        <p>Adventures</p>
        </uib-accordion-heading>
        <small ng-show="adventures.length == 0">No adventures</small> 
        <ul ng-show="adventures.length > 0"> 
            <li ng-repeat="a in adventures"><a href="/adventures/view/{{ a._id}}">{{ a.name}}</a></li>
        </ul>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
        <p>Biography</p>
        </uib-accordion-heading>
        <small ng-show="bio">{{ bio}}</small>
        <p>Interests</p>
        <div ng-repeat="i in interests" style="margin-bottom: 20px;">
            <div class="input-group">
                <small>Topic : {{ i.topic.topic}}</small>
            </div>
            <div class="input-group">
                <small>Information : {{ i.information}}</small>
            </div>
        </div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
        <p>Experience</p>
        </uib-accordion-heading>
        <small ng-show="experience">{{ experience}}</small>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
        <p>Education</p>
        </uib-accordion-heading>
        <div ng-repeat="e in educations" style="margin-bottom: 20px;">
            <div class="input-group">
                <small>School : {{ e.school.name}}</small>
            </div>
            <small>Year : {{ e.year.name}}</small>
        </div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
        <p>Links</p>
        </uib-accordion-heading>
        <div ng-repeat="l in links" style="margin-bottom: 20px;">
            <div class="input-group">
                <small><a href="{{ l.link}}">Link : {{ l.name}}</a></small>
            </div>
        </div>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
        <uib-accordion-heading>
        <p>Goals</p>
        </uib-accordion-heading>
        <small ng-show="goals">{{ goals}}</small>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading>
                <p>Likes</p>
            </uib-accordion-heading>
            <small ng-show="!likes || likes.length == 0">No Likes</small>
            <small ng-repeat="l in likes">{{ l.like }}</small>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading>
                <p>Dislikes</p>
            </uib-accordion-heading>
            <small ng-show="!dislikes || dislikes.length == 0">No Dislikes</small>
            <small ng-repeat="dl in dislikes">{{ dl.dislike }}</small>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading>
                <p>Skills</p>
            </uib-accordion-heading>
            <small ng-show="!skills || skills.length == 0">No Skills</small>
            <small ng-repeat="s in skills">{{ s.skill }}</small>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading>
                <p>What I am looking for now</p>
            </uib-accordion-heading>
            <small ng-show="!looks || looks.length == 0">No Data</small>
            <small ng-repeat="l in looks">{{ l.look }}</small>
        </div>
        <div uib-accordion-group class="panel-default" is-open="true">
            <uib-accordion-heading>
                <p>Desired Roles</p>
            </uib-accordion-heading>
            <small ng-show="!roles || roles.length == 0">No Data</small>
            <small ng-repeat="r in roles">{{ r.role }}</small>
        </div>
        </uib-accordion>
    </blockquote>
    </div>
</div>