<div ng-controller="searchController">
    <div class="row">
        <div class="col-md-8">
            Search Results
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <br>
            <table class="table teams">
                <tr ng-show="!loading && results.length == 0">
                    <td class="err-msg">No results, please search another.</td>
                </tr>
                <tr ng-repeat="r in results">
                    <td ng-show="r.photo"><div class="avatar" style="background-image: url('{{ r.photo}}')"></div></td>
                    <td>{{ r.name}}</td>
                    <td ng-show="r._id"><rating-widget isstatic="1" ref="r._id" ></rating-widget></td>
                <td>{{ r.text1}}</td>
                <td>{{ r.text2}}</td>
                <td ng-show="r.href">
                    <a href="{{r.href}}" class="btn btn-primary">View</a>
                </td>
                </tr>
            </table>
        </div>
    </div>
</div>