<div ng-controller="searchController">
    <div class="row">
        <div class="col-md-8">
            Advanced Search
        </div>
    </div>
    <div class="row">
		<p></p>
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="form-group">
				<input class="form-control" type="text" ng-model="name" placeholder="Provide name of adventure, team or people">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" ng-model="description" placeholder="Provide description of adventure, team or people">
			</div>
			<div class="form-group">
				<input class="form-control" type="text" ng-model="tag" placeholder="Provide tag of adventure, team or people">
			</div>
			<button class="btn btn-primary" ng-disabled="!name && !description && !tag" ng-click="advancedSearch()">Search</button>
		</div>
		<div class="col-md-2"></div>
    </div>
</div>