<div ng-controller="homeController">
    <div class="clearfix" style="margin-top: 15px;">
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="portlet box blue-steel">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>Recent News
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px; overflow-y: scroll;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds" ng-show="!newsloading && peoples.length==0 && teams.length == 0 && adventures.length == 0">
                            <li>
                                <div class="col1">
                                    No News created recently.
                                </div>
                            </li>
                        </ul>
                        <ul class="feeds">
                            <li ng-repeat="p in peoples">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                <a href="" ng-click="showHomeUser(p._id)">{{ p.name}}</a> <small>SignIn</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        {{ p.signin}}
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat="t in teams">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <img src="{{ t.teamImg }}" style="width:40px; height:30px;">
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                <a href="" ng-click="showHomeTeam(t._id)">{{ t.name}} created by user {{ t.username}} <img src="{{ t.userImg }}" style="width:40px; height:30px;"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        {{ t.createdAt}}
                                    </div>
                                </div>
                            </li>
                            <li ng-repeat="a in adventures">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-cube"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                <a href="" ng-click="showHomeAdv(a._id)">{{ a.name}}</a> <small>Created</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        {{ a.createdAt}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="portlet box green-haze">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-slack"></i>Recent Slacks
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px; overflow-y: scroll;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds" ng-show="!slackloading && slacks.length==0">
                            <li>
                                <div class="col1">
                                    No Slacks recently.
                                </div>
                            </li>
                        </ul>
                        <ul class="feeds">
                            <li ng-repeat="s in slacks">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-wechat"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                {{s.msg}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        <button class="btn btn-primary" ng-click="showHomeSlackMsg(s)">View</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="row ">
        <div class="col-md-6 col-sm-6">
            <div class="portlet box purple-wisteria">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-smile-o"></i>Recent Recommendations
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px; overflow-y: scroll;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds" ng-show="!feedloading && feeds.length==0">
                            <li>
                                <div class="col1">
                                    No Recommendations recently.
                                </div>
                            </li>
                        </ul>
                        <ul class="feeds">
                            <li ng-repeat="f in feeds">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-cog"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                {{f.msg}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        <button class="btn btn-primary" ng-click="showHomeRecommendation(f)">View</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>