<div ng-controller="homeController">
    <div class="clearfix" style="margin-top: 15px;">
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet box darkblue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bell-o"></i>Recent News
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px; overflow-y: scroll;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds" ng-show="!newsloading && peoples.length==0 && teams.length == 0 && adventures.length == 0">
                            <li>
                                <div class="col1">
                                    No News created recently.
                                </div>
                            </li>
                        </ul>
                        <ul class="feeds">
                            <li ng-repeat="p in peoples">
                                <div class="col-md-10 col-sm-10">
                                    <a href="" ng-click="showHomeUser(p._id)"> <img src="{{ p.photo }}" style="width:30px; height:30px;"/> <b>{{ p.name}}</b></a> <small>SignIn</small>
                                </div>
                                <div class="col-md-2 col-sm-2" style="text-align: right;font-style: italic;color: #c1cbd0;font-size: 13px;">
                                    {{ p.signin}}
                                </div>
                            </li>
                            <li ng-repeat="t in teams">
                                <div class="col-md-10 col-sm-10">
                                    <a href="" ng-click="showHomeTeam(t._id)"> <img src="{{ t.teamImg }}" style="width:30px; height:30px;"/> <b>{{ t.name}}</b> created by user <img src="{{ t.userImg }}" style="width:30px; height:30px;"> {{ t.username}} </a>
                                </div>
                                <div class="col-md-2 col-sm-2" style="text-align: right;font-style: italic;color: #c1cbd0;font-size: 13px;">
                                    {{ t.createdAt}}
                                </div>
                            </li>
                            <li ng-repeat="a in adventures">
                                <div class="col-md-10 col-sm-10">
                                    <a href="" ng-click="showHomeAdv(a._id)"> <img src="{{ a.advImg }}" style="width:30px; height:30px;"/> <b>{{ a.name}}</b> created by user <img src="{{ a.userImg }}" style="width:30px; height:30px;"> {{ a.username}} </a>
                                </div>
                                <div class="col-md-2 col-sm-2" style="text-align: right;font-style: italic;color: #c1cbd0;font-size: 13px;">
                                    {{ a.createdAt}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="portlet box darkblue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-slack"></i>Recent Slacks
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px; overflow-y: scroll;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds" ng-show="!slackloading && slacks.length==0">
                            <li>
                                <div class="col1">
                                    No Slacks recently.
                                </div>
                            </li>
                        </ul>
                        <ul class="feeds">
                            <li ng-repeat="s in slacks">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-wechat"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc">
                                                {{s.msg}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date">
                                        <button class="btn btn-primary" ng-click="showHomeSlackMsg(s)">View</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="row ">
        <div class="col-md-12 col-sm-12">
            <div class="portlet box darkblue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-smile-o"></i>Recent Recommendations
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px; overflow-y: scroll;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds" ng-show="!feedloading && feeds.length==0">
                            <li>
                                <div class="col1">
                                    No Recommendations recently.
                                </div>
                            </li>
                        </ul>
                        <ul class="feeds">
                            <li ng-repeat="f in feeds">
                                <div class="col-md-11 col-sm-11" ng-show ="f.position == 'master' && f.type == 'adventures'">
                                    <span>User <img src='{{f.recommendationUserPhoto}}' style='width:30px; height:30px'/> {{f.recommendationUserName}} has recommended User <img src='{{ f.slaveUserPhoto }}' style='width:30px; height:30px'/> {{f.slaveUserName}} in your Adventure <img src='{{f.adventureImage}}' style='width:30px; height:30px'/> {{f.adventureName}}</span>
                                </div>
                                <div class="col-md-11 col-sm-11" ng-show ="f.position == 'slave' && f.type == 'adventures'">
                                    <span>User <img src='{{f.recommendationUserPhoto}}' style='width:30px; height:30px'/> {{f.recommendationUserName}} has recommended you in <img src='{{f.masterUserPhoto}}' style='width:30px; height:30px'/> {{f.masterUserName}}'s Adventure <img src='{{f.adventureImage}}' style='width:30px; height:30px'/> {{f.adventureName}}</span>
                                </div>
                                <div class="col-md-11 col-sm-11" ng-show ="f.position == 'master' && f.type == 'teams'">
                                    <span>User <img src='{{f.recommendationUserPhoto}}' style='width:30px; height:30px'/> {{f.recommendationUserName}} has recommended User <img src='{{f.slaveUserPhoto}}' style='width:30px; height:30px'/> {{f.slaveUserName}} for Role -{{f.roleTitle}}- in your Team <img src='{{f.teamImage}}' style='width:30px; height:30px'/>  {{f.teamName}}</span>
                                </div>
                                <div class="col-md-11 col-sm-11" ng-show ="f.position == 'slave' && f.type == 'teams'">
                                    <span>User <img src='{{f.recommendationUserPhoto}}' style='width:30px; height:30px'/> {{f.recommendationUserName}} has recommended you for Role - {{ f.roleTitle }} - in <img src='{{ f.masterUserPhoto }}' style='width:30px; height:30px'/> {{f.masterUserName}}'s Team <img src='{{f.teamImage}}' style='width:30px; height:30px'/> '{{f.teamName}}' </span>
                                </div>
                                <div class="col-md-1 col-sm-1" style="text-align: right;font-style: italic;color: #c1cbd0;font-size: 13px;">
                                    <button class="btn btn-primary" ng-click="showHomeRecommendation(f)">View</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="row ">
        <div class="col-md-12 col-sm-12">
            <div class="portlet box darkblue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-joomla"></i>Recent Badges
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px; overflow-y: scroll;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds" ng-show="!badgeloading && badges.length==0">
                            <li>
                                <div class="col1">
                                    No Badges recently.
                                </div>
                            </li>
                        </ul>
                        <ul class="feeds">
                            <li ng-repeat="b in badges">
                                <div class="col-md-11 col-sm-11">
                                    <img src="/assets/images/badge.png" style="width: 30px; height: 30px;"/><span style="margin-left: 10px;">{{ b.title}}</span>
                                </div>
                                <div class="col-md-1 col-sm-1" style="text-align: right;font-style: italic;color: #c1cbd0;font-size: 13px;">
                                    <button class="btn btn-primary" ng-click="showHomeBadges(b)">View</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>