<div class="row" ng-controller="createTeamController">
    <div class="col-md-8">
        <p>Create new team</p>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="name" placeholder="Provide team name">
        </div>
        <!--<div class="form-group">-->
            <!--<input class="form-control" type="text" ng-model="roles" placeholder="Provide roles (separated by comma)">-->
        <!--</div>-->
        <div class="form-group">
            <textarea ng-model="description" class="form-control" placeholder="Provide team description (optional)"></textarea>
        </div>
        <div class="form-group">
            <!--<input class="form-control" type="text" ng-model="tags" placeholder="Tags(optional)">-->
            <tags data-options="{addable: true, classes: {white: 'black', red: 'red'}}" model="baz"></tags>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="fb_page" placeholder="FB Page(optional)">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" ng-model="mission" placeholder="MISSION">
        </div>
        <div class="form-group">
<!--            
            <input ng-model="image" type="file" class="form-control" onchange="angular.element(this).scope().onFileSelect(this)" accept="image/png, image/jpeg">
-->
            <input ng-model="image" type="file" class="form-control" onchange="angular.element(this).scope().onFileSelect(this)">
            <span ng-show="uploadInProgress">Upload progress: {{ uploadProgress }}</span>
            <img src="{{uploadedImage}}" ng-show="uploadedImage">
        </div>
        <button class="btn btn-primary" ng-disabled="!name || !image || !mission"  ng-click="createTeam()">Create team</button>
    </div>
</div>