<div ng-controller="teamBlogViewController" class="teamMembers">
    <div class="row">
        <div class="col-md-12" ng-show="teamblogs.length" style="padding-right: 0px;">
            <p><a href="#" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></p>
            <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;">{{ blogTitle }}</h2>
            <div style="margin-top:5px;" ng-show="team.image">
                <img src="{{uploadedBlogImage}}" alt="image" ng-show="uploadedBlogImage" style="margin-bottom: 10px; margin-top: 10px; width:396px; height:297px;">
            </div>
            <div style="margin-top:5px;" class="description">
                <p class="description" style="margin-left:5px; text-align:left; padding: 10px 5px 10px 5px; word-wrap: break-word; word-break: break-word; font-size: 15px; border: 1px solid #ddd;" ng-bind-html="blogBody"></p>
            </div>
        </div>
    </div>
</div>