<div ng-controller="teamViewController" class="teamMembers">
    <div class="row">
        <div style="margin-top:5px;">
            <div class="col-md-4" style="padding: 0px;">
                <h2 ng-bind="team.name" style="color:#394b59; margin-top:0px;font-size:25px; font-weight:700;"></h2>
            </div>
            <div class="col-md-8" style="padding: 0px;">
                <div id="fbshare">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="margin-top:0px;">
            <div class="col-md-4" style="padding-right: 10px;">
                <!--<h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="team.image">PHOTO</h2>-->
                <div style="margin-top:5px;" ng-show="team.image">
                    <img src="{{team.image}}" alt="image" ng-show="team.image" style="margin-bottom: 10px; margin-top: 10px; width:396px; height:297px;">
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="team.tags.length > 0">TAGS</h2>
                <div style="margin-top:5px;" ng-show="team.tags.length > 0" class="members-list">
                    <span style="margin-top:0px; margin-left:5px;" ng-repeat="t in team.tags">
                        <a ng-show="t" href="/teamsTag/{{t}}" class="tag">{{t}}</a>
                    </span>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="team.description">DESCRIPTION</h2>
                <div style="margin-top:5px;" ng-show="team.description" class="description">
                    <p class="description" style="margin-left:5px; text-align:left; padding: 10px 5px 10px 5px; word-wrap: break-word; word-break: break-word; font-size: 15px; border: 1px solid #ddd;" ng-bind-html="team.description"></p>
                </div>
                <h2 style="color:#394b59; margin-top:0px;font-size:18px; font-weight:700;" ng-show="adventures.length > 0">ADVENTURES</h2>
                <div style="margin-top:5px;" ng-show="adventures.length > 0" class="members-list">
                    <div style="margin-top:0px;" ng-repeat="adv in adventures">
                        <p class="name bold" style="margin:0px; margin-left:5px; cursor: pointer; color: #1ab8f3; font-size:22px;" ng-bind="adv.name" ng-click="viewAdventure(adv)"></p>
                    </div>
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="team.mission">MISSION</h2>
                <div style="margin-top:5px;" ng-show="team.mission" class="description">
                    <p class="description" style="margin-left:5px; text-align:left; padding: 10px 5px 10px 5px; word-wrap: break-word; word-break: break-word; font-size: 18px; border: 1px solid #ddd;" ng-bind-html="team.mission"></p>
                </div>
                <!--<div ng-show="team.mission">-->
                    <!--<p style="margin-left:5px; text-align:left;">{{team.mission}}</p>-->
                <!--</div>-->
            </div>
            <div class="col-md-4" style="padding-left: 0px; padding-right: 10px;">
                <h2 style="color:#394b59; margin-top:0px;font-size:18px; font-weight:700;">Comments</h2>
                <div id="fbComment" style="margin-top:5px; text-align: center;">
                </div>
                <h2 style="color:#394b59; margin-top:5px;font-size:18px; font-weight:700;" ng-show="team.fb_page">FB Page</h2>
                <div ng-show="team.fb_page" id = "fbPage" style="text-align: center; margin-bottom: 10px;">
                </div>
            </div>
            <div class="col-md-4" ng-show="!loading && team" style="padding-left: 0px; padding-right: 0px;">
                <h2 style="color:#394b59; margin-top:0px;font-size:18px; font-weight:700;">ROLES</h2>
                <p ng-show="team.teamMembers.length == 0">No members, invite new members now.</p>
                <ul ng-show="team.teamMembers.length > 0" class="members-list">
                    <li ng-repeat="member in team.teamMembers" ng-click="showMember(member)">
                        <p ng-bind="member.title" style="font-style: italic;"></p>
                        <p ng-show="member.user.profileId == 000000000000000000000000" class="name">Empty</p>
                        <p ng-show="member.user.profileId == 000000000000000000000000" class="avatar" style="background-image: url(/assets/images/unknown.png); background-size: contain;"></p>
                        <a ng-hide="member.user.profileId == 000000000000000000000000" class="name" href="/users/view/{{member.user._id}}">{{member.user.fullname}}</a>
                        <p ng-hide="member.user.profileId == 000000000000000000000000" class="avatar" style="background-image: url('{{ member.user.photo}}')"></p>
                    </li>
                </ul>
                <button ng-show="isManager" class="btn btn-primary pull-left" ng-click="sendInvite()" style="padding-bottom: 1%;">Invite someone to this team</button>
                <button ng-show="isManager" class="btn btn-success pull-left" ng-click="addMemberTitle()" style="margin-left: 5px; padding-bottom: 1%;">Add a new role</button>
                <button ng-show="!isMember && !isManager && emptyMembers.length > 0" class="btn btn-success pull-left" ng-click="applyTeam()" style="margin-left: 15px; padding-bottom: 1%;">Apply for this team</button>
                <button ng-show="!isManager" class="btn btn-primary pull-left" ng-click="sendRecommendation()" style="margin-left: 15px; padding-bottom: 1%;">Recommend someone</button>
                <br/>
                <h2 style="color:#394b59; margin-top:35px;font-size:18px; font-weight:700;">RATINGS</h2>
                <div style="text-align: center; margin-top : 20px; padding-right: 10px; padding-left: 10px;">
                    <rating-widget ref="team._id" ></rating-widget>
                    <hr>
                    <div ng-show="isManager" class="btn-group btn-group-justified">
                        <a href="/teams/edit/{{ team._id}}" class="btn btn-primary">Edit</a>
                        <a href="#" ng-click="modal()" class="btn btn-danger">Remove</a>
                        <a href="/teams/blogcreate/{{ team._id}}" class="btn btn-primary">Blog</a>
                        <a ng-show="slackAuthentication == true" href="/teams/slack/{{ team._id}}" class="btn btn-success">Slack</a>
                        <a ng-show="slackAuthentication == false" href="#" onclick='alertSlackAuth();' class="btn btn-success">Slack</a>
                    </div>
                    <div ng-show="isMember && !isManager" class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-danger" ng-click="leave();">Leave</a>
                        <a ng-show="slackAuthentication == true" href="/teams/slack/{{ team._id}}" class="btn btn-success">Slack</a>
                        <a ng-show="slackAuthentication == false" href="#" onclick='alertSlackAuth();' class="btn btn-success">Slack</a>
                    </div>
                    <button ng-show="!isManager && isFavorite == true" class="btn btn-danger pull-left" ng-click="removeFavoriteTeam(favoriteTeamId)" style="margin-top: 5px; padding-bottom: 1%;">Remove from favorites</button>
                    <button ng-show="!isManager && isFavorite == false" class="btn btn-primary pull-left" ng-click="addFavoriteTeam()" style="margin-top: 5px; padding-bottom: 1%;">Add to favorites</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="teamblogs.length" class="clearfix" style="border: 1px solid #CCCCCC; margin-top: 30px;"></div>
    <div class="row">
        <div class="col-md-12" ng-show="teamblogs.length" style="padding-right: 0px;">
            <h2 style="color:#394b59; margin-top:35px;font-size:18px; font-weight:700;"><center>BLOG</center></h2>
            <br>
            <table class="table teams">
                <tr ng-repeat="blog in teamblogs">
                    <td width="40%">{{ blog.title}}</td>
                    <td width="10%"><span ng-show="blog.image"><img src="{{blog.image}}" alt="image" ng-show="blog.image" style="margin-bottom: 10px; margin-top: 10px; width:40px; height:40px;"></span></td>
                    <td width="20%">{{ blog.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td width="30%">
                        <a href="/teams/blogview/{{ team._id }}/{{ blog._id}}" class="btn btn-same-size btn-primary">View</a>
                        <a ng-show="isManager" href="#" ng-click="removeblog(blog._id, blog.title);" class="btn btn-same-size btn-danger">Remove</a>
                        <a ng-show="isManager" href="/teams/blogedit/{{ team._id }}/{{ blog._id}}" class="btn btn-same-size btn-primary">Edit</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>