<div ng-controller="teamViewController" class="teamMembers">
    <div class="row">
        <div class="col-md-3 user-container">
            <h4 ng-bind="team.name"></h4>
            <!--<p class="description" style="font-size: 13px;" ng-bind="team.description"></p>-->
            <textarea style="font-size: 13px; margin-bottom: 15px; overflow: visible;" ng-bind="team.description" disabled></textarea>
            <rating-widget ref="team._id" ></rating-widget>
            <!--<img src="{{team.image}}" alt="image" style="width:100px; height:100px;" ng-show="team.image">-->
            <hr>
            <div ng-show="isManager" class="btn-group btn-group-justified">
                <a href="/teams/edit/{{ team._id}}" class="btn btn-primary">Edit</a>
                <a href="#" ng-click="modal()" class="btn btn-danger">Remove</a>
            </div>
            <div ng-show="isMember && !isManager" class="btn-group btn-group-justified">
                <a href="#" class="btn btn-danger" ng-click="leave();">Leave</a>
            </div>
        </div>
        <div class="col-md-5" ng-show="!loading && team">
            <!--<p ng-show="team.teamMembers.length == 0">No members, invite new members now.</p>-->
            <!--<ul ng-show="team.teamMembers.length > 0" class="members-list">-->
                <!--<li ng-repeat="member in team.teamMembers" ng-click="showMember(member)">-->
                    <!--<p ng-bind="member.title"></p>-->
                    <!--<p ng-show="member.user.profileId == 000000000000000000000000" class="name">Empty</p>-->
                    <!--<p ng-show="member.user.profileId == 000000000000000000000000" class="avatar" style="background-image: url(/assets/images/unknown.png); background-size: contain;"></p>-->
                    <!--<a ng-hide="member.user.profileId == 000000000000000000000000" class="name" href="/users/view/{{member.user._id}}">{{member.user.fullname}}</a>-->
                    <!--<p ng-hide="member.user.profileId == 000000000000000000000000" class="avatar" style="background-image: url('{{ member.user.photo}}')"></p>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<button ng-show="isManager" class="btn btn-success pull-right" ng-click="addMemberTitle()" style="margin-right: 5px;">Add new role</button>-->
            <!--<button ng-show="isManager" class="btn btn-primary pull-right" ng-click="sendInvite()" style="margin-right: 5px;">Invite</button>-->
            <!--<button ng-show="!isMember && !isManager && emptyMembers.length > 0" class="btn btn-success pull-right" ng-click="applyTeam()">Apply for this team</button>-->
            <img src="{{team.image}}" alt="image" ng-show="team.image" style="margin-bottom: 10px; margin-top: 10px; width:396px; height:297px;">
            <div class="user-container">
                <h4>Adventures of the team</h4>
                <hr>
            </div>
            <ul ng-show="adventures.length > 0" class="members-list">
                <li ng-repeat="adv in adventures" ng-click="viewAdventure(adv)">
                    <p class="name bold" ng-bind="adv.name"></p>
                </li>
            </ul>
            <comment-widget ref="team._id" ></comment-widget>
        </div>
        <div class="col-md-4" ng-show="!loading && team">
            <p ng-show="team.teamMembers.length == 0">No members, invite new members now.</p>
            <ul ng-show="team.teamMembers.length > 0" class="members-list">
                <li ng-repeat="member in team.teamMembers" ng-click="showMember(member)">
                    <p ng-bind="member.title"></p>
                    <p ng-show="member.user.profileId == 000000000000000000000000" class="name">Empty</p>
                    <p ng-show="member.user.profileId == 000000000000000000000000" class="avatar" style="background-image: url(/assets/images/unknown.png); background-size: contain;"></p>
                    <a ng-hide="member.user.profileId == 000000000000000000000000" class="name" href="/users/view/{{member.user._id}}">{{member.user.fullname}}</a>
                    <p ng-hide="member.user.profileId == 000000000000000000000000" class="avatar" style="background-image: url('{{ member.user.photo}}')"></p>
                </li>
            </ul>
            <button ng-show="isManager" class="btn btn-primary pull-left" ng-click="sendInvite()" style="margin-left: 15px; font-size: 18px; padding-bottom: 1%;">Invite</button>
            <button ng-show="isManager" class="btn btn-success pull-left" ng-click="addMemberTitle()" style="margin-left: 15px; font-size: 18px; padding-bottom: 1%;">Add new role</button>
            <button ng-show="!isMember && !isManager && emptyMembers.length > 0" class="btn btn-success pull-left" ng-click="applyTeam()" style="margin-left: 15px; font-size: 18px; padding-bottom: 1%;">Apply for this team</button>
        </div>
    </div>

    <!--<div class="row">-->
        <!--<div class="user-container">-->
            <!--<h4>Adventures of the team</h4>-->
            <!--<hr>-->
        <!--</div>-->
        <!--<ul ng-show="adventures.length > 0" class="members-list">-->
            <!--<li ng-repeat="adv in adventures" ng-click="viewAdventure(adv)">-->
                <!--<p class="name bold" ng-bind="adv.name"></p>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<comment-widget ref="team._id" ></comment-widget>-->
</div>