<div ng-controller="myAdventuresTagController">
    <div class="row">
        <div class="col-md-8">
            <br>
            <table class="table adventures">
                <tr ng-show="!loading && adventures.length == 0">
                    <td class="err-msg">No adventures, <a href="/adventures/create">add</a> new adventure now.</td>
                </tr>
                <tr ng-repeat="a in adventures">
                    <td>{{ a.name}}</td>
                    <td><rating-widget isstatic="1" ref="a._id" ></rating-widget></td>
                <td>{{ a.start + " - " + a.end}}</td>
                <td>
                    <a href="/adventures/view/{{ a._id}}" class="btn btn-same-size btn-primary" ng-show="user._id != a.owner">View</a>
                    <a href="/adventures/view/{{ a._id}}" class="btn btn-same-size btn-primary" ng-show="user._id == a.owner">Manage</a>
                </td>
                </tr>
            </table>
        </div>
    </div>
</div>